<header>
  <nav>
    <div class="container-lg py-3">
      <div class="row align-items-end text-center text-lg-start">
        <div class="col">
          <img class="mb-2" src="{{ "/images/givingday.png" | relative_url }}" alt="Giving day logo.">
          <h1 class="site-subtitle m-0">Cornell Giving Day 2021</h1>
        </div>
        <div class="col d-lg-block d-none">
          <h1 class="fundraiser-title float-end text-end pb-2">Fundraiser</h1>
        </div>
      </div>
    </div>
  </nav>
</header>